<nav class=" navbar navbar-expand-lg navbar-absolute navbar-transparent">
  <div class=" container-fluid">
    <div class=" navbar-wrapper">
      <div class=" navbar-toggle d-inline">
        <button class=" navbar-toggler" type="button">
          <span class=" navbar-toggler-bar bar1"> </span>
          <span class=" navbar-toggler-bar bar2"> </span>
          <span class=" navbar-toggler-bar bar3"> </span>
        </button>
      </div>
      <a class=" navbar-brand" href="javascript:void(0)">test</a>
    </div>
    <div class="navbar-collapse" id="navigation">
      <ul>
        <li class=" nav-item" ngbDropdown>
            <a>
              <div class=" photo">
                <img alt="Profile Photo" src="assets/img/anime3.png" />
              </div>
              <b class=" caret d-none d-lg-block d-xl-block"> </b>
              <p class=" d-lg-none">Log out</p>
            </a>
            <ul class=" dropdown-navbar" ngbDropdownMenu>
              <li class=" nav-link">
                <app-user-component></app-user-component>
              </li>
              <li class=" nav-link">
                <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                </a>
              </li>
              <li class=" dropdown-divider"></li>
              <li class=" nav-link">
                <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                </a>
              </li>
            </ul>
          </li>
      </ul>
    </div>
  </div>
</nav>
