/* You can add global styles to this file, and also import other style files */

.main{
    background-image: url('/src/musicWebBackground.jpg'); 
}

.matrixboard{
    display: grid;
    justify-content: center;
};

.box {
    background-color: #d9d9d9;
    height: 75px;
    width: 75px;
    float:left;
    padding: 0px;
    border: 5px solid black;
    margin: 5px;
   }

.matrixBoardCard{
    height: 550px;
    width: 550px;
}